<h2>Product '{{content.name}}'</h1>

{{view "App.BreadcrumbView"}}

<div>
	Name: {{view "App.TextControl" valueBinding="name"}}
</div>
<div>
	Stock Amount: {{view "App.TextControl" valueBinding="stock_level"}}
</div>
{{#view displayObserveBinding="isDirty"}}
	<button {{action "save" target="parent"}}>Save</button>
	<button {{action "cancel" target="parent"}}>Cancel</button>
{{/view}}